<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>A.D. Wi-fi</title>
    <link rel="stylesheet" href="{% static 'css/htmlStyle.css' %}">
</head>
<body>
<header>
    <!--	   <img style = "width:100%" src = "http://free.adwifi.com.tw/wifi/demo/image/adwifi_logo.png"/> -->
</header>
<div class="section group content darkbg">
    <div class="col span12">
        <div class="title textcenter">隱私權政策與聲明 ＆ 平台使用同意書</div>
        <p>
            隱私權政策與聲明<br/><br/>
            隱私保護政策暨法律聲明 A.D Wi-fi
            服務及其相關平台(以下稱「平台服務」)係由全林實業股份有限公司(以下稱「A.D」)所建置營運，本「隱私政策與聲明」是本網站保護用戶個人隱私的承諾。所有使用平台服務之人（包括瀏覽者與會員，以下通稱「使用者」）瀏覽或使用為營運本平台所架構之網站（以下稱「本網站」）資料時，即視為認知並願遵守本「隱私政策與聲明」中所列之全部事項。以下即說明本網站對「使用者」之個人資料所採取的收集、使用和保護政策，請務必仔細閱讀：<br/><br/>
            一、智慧財產權聲明<br/><br/>
            「A.D」於本網站所呈現之所有內容，其著作權、專利權、商標、營業秘密、其他智慧財產權、所有權或其他權利，均為本網站或其權利人所有，並且受中華民國智慧財產權法令之保障。除事先經本網站或其權利人之事前書面同意並合法授權外，任何人不得以任何方式，包括但不限於：重製、傳輸、改作、編輯或以其他任何形式，對本網站內容之局部或全部予以重製或修改，否則應負所有法律責任。。惟基於個人之非營利目的之合理使用必要，「使用者」得為網站內容之下載或列印，但應揭露來源。<br/><br/>
            二、完全瀏覽且同意<br/><br/>
            使用者瀏覽本網站之內容，即視為以完全知悉且同意「平台服務」之「平台使用同意書」以及「保密聲明書」所記，並應注意各該文件以及其他可能新增之文件如有增、修與任何變動，均當然於本網站公告時對使用者發生拘束力。<br/><br/>
            三、免責聲明<br/><br/>
            除法令另有規定外，本網站對任何服務不提供任何明示或默示的擔保，亦不保證各項活動及其他相關消費資訊之正確性，亦不擔保所上載之活動及其他相關消費資訊是否被正確顯示，包含但不限於擔保商業適售性、特定目的之適用性及未侵害他人權利。除此之外，本網站亦不保證以下事項：
            (i)本網站服務將符合「使用者」的需求， (ii)本網站服務不受干擾、及時提供、安全可靠或免於出錯， (iii)由本網站所提供之資訊為正確、可靠、完整且及時，及
            (iv)會員經由本網站服務購買或取得之任何產品、服務、資訊或其他資料將符合會員的期望。
            (v)基於網路特性，「使用者」應自行負責查證，如「使用者」發現或懷疑有任何錯誤，請立即通知本網站。是否經由本網站服務之使用下載或取得任何資料應自行考量且自負風險，因前開任何資料之下載而導致「使用者」電腦系統之任何損壞或資料流失，「使用者」應自負責任。
            「使用者」自本網站或經由本網站服務取得之建議和資訊，無論其為書面或口頭，均不構成本服務之保證。鑑於功能本質之侷限，「A.D」於本網站所提供之非屬交易條件相關之資訊，不為絕對正確之擔保。
            第三人經本網站所提供之任何資訊，使用者仍應自為查證確認，本網站無法確保資訊的正確性、確定性、時效性及完整性。本網站內容及其版面呈現方式，有可能隨時改變，惟無需先為公告周知。
            本網站所提供的資訊時時會更動，無法一一週知。 本網站無法，也無義務，就網站內容之一部或全部資料，進行侵權與否之審查，故不保証所提供之資料，絕無侵權之虞，使用者應承擔諸等風險。<br/><br/>
            四、上傳管制<br/><br/>
            使用者如有上傳任何文字、資訊、資料，而於本網站呈現時，應注確認並保証絕無侵害他人權益之情事，並同意不論營利與否本網站享有公開、重製、改作、編輯及傳送等權利。「A.D」基於網站維護之必要，並得依其判斷，刪改任何上傳之文字、資料與資訊。<br/><br/>
            五、網站連結(links)與安全聲明<br/><br/>
            本網站保留被連結或框置(framed)的權力，任何使用者連結或框置需事先告知。 本網站在如與其他網站連結，僅是為方便使用，不代表「A.D」同意或保證各該被連結網頁之形式及其內容均屬無誤。
            全球資訊網(WWW)之架構及使用端之瀏覽介面等程式，均有某些不安全因素，使用者與本網站傳輸資料時，應注意網路本質之風險。
            「A.D」對於網路安全可能會採取適當監控機制，但無法不保證無駭客風險、無病毒或惡意程式傳出之風險。<br/><br/>
            六、隱私保護<br/><br/>
            <span class="redfont">「A.D」依法承擔保護每一位使用者隱私之義務，不管是申請帳號或個人資料，除有涉及違法、侵權、或違反平台公告之管理政策之虞、或經本條款約定或本人同意或因政府行為或法令規定或為求全體會員利益外，全林實業不予任意監視、增刪或修改。1.對於使用者所註冊或留存之資料，除下列情況外，「A.D」同意在未獲得使用者同意以前，絕不對外揭露使用者之姓名、地址、電 子郵件地址及其他依法受保護之資料： (1)基於法律之規定； (2)受司法機關或其他有權機關基於法定程序之要求； (3)為保障本站之財產及權益； (4)在緊急情況下為維護其他使用者或第三人之人身安全。 2. 對於使用者所註冊或留存之資料，使用者同意「全林實業」所屬公司及關係企業或合作對象，得於合理之範圍內蒐集、處理、保存、傳遞及使用該等資料，以提供使用者其他資訊或服務、或作成用戶統計資料、或進行廣告宣傳、或進行關於網路行為之調查研究，或為任何之合法使用，或提供其他服務。 3. 基於網際網路之特性，有關使用者資料使用與保護之細部約定，使用者同意依照隱私權保護政策之規範。隱私權保護政策之內容請參閱本網站之「隱私政策與聲明」。</span><br/><br/><br/>


            平台使用同意書<br/><br/>
            A.D Wi-fi
            平台服務(含其相關網頁資訊，以下合稱「平台服務」)係由全林實業股份有限公司或其所指定之第三人(以下稱「平台經營（管理）者」)所建置營運，所有使用平台服務之人（包括瀏覽者與會員，以下通稱「使用者」）均充分認知，本「平台服務」相關之權利義務條款，將依營運所需或公共利益實際狀況所需，隨時調整，並以網路公告時起即時生效：<br/><br/>
            會員資格與平台服務<br/><br/>
            本平台服務係以網頁作為介面，並可能對使用者訂有權限分級，權限分級之方式與內容由將平台經營（管理）者依實際營運及法令規定而決定。使用者得依網頁指示，登錄取得會員資格，惟平台經營（管理）者保有同意（發給使用者名稱與密碼）與否之權限，並有權限依其管理政策隨時對全部或個別使用者為不同程度之停權。
            平台服務內容，包括： (1) 會員基本資料修改 (2)
            頻道資訊訂閱，平台經營（管理）者所提供之網頁資訊與內容，僅屬資料與訊息之彙整，不擔保正確性與完整性。平台服務如有連結他網之情事，相關智慧財產權並屬各該網站所有，且平台經營（管理）者亦不擔保資訊之正確與完整。平台經營（管理）者可能同時或先後建置週邊服務業者之服務登錄平台，包括但不限於技術、商品等，但不表示平台經營（管理）者擔保其服務品質與內容。
            平台經營（管理）者僅於能力許可範圍內，負責維護平台之運作，對於使用者之交易平台使用行為，均不負監督義務。<br/><br/>
            交易平台主要權利義務<br/><br/>
            使用者如有另為網路連結（包括但不限於連結至另一交易市集）之必要，應先通知平台經營（管理）者並取得同意，且需擔保合乎中華民國法令，並不得因妨礙網路之交易安全與穩定。
            使用者權益不及於平台經營（管理）者或其他合法權利人所有之有形、無形資產。會員除僅得於資格有效期間內依本條款及其他約定條款為使用外，並不得以任何方式將其權利移轉、出租或出借予其他任何第三人，並不得在未經平台經營（管理）者同意下，為加值利用之行為，以維所有會員之使用安全。
            使用者知悉網站（頁）使用過程中，可能會接收部分無關第三人之產品或服務訊息，在未涉及平台經營（管理）者洩漏隱私資訊之前題下，使用者並不得主張權益受侵害，且相關訊息之文責等，平台經營（管理）者均無需負擔。<br/><br/>
            帳號、密碼及安全性<br/><br/>
            1.申請者完成會員註冊手續，平台經營（管理）者發給使用者（會員）名稱與密碼後，始取得會員資格。
            2.會員於使用任何平台經營（管理）者所提供（或相關聯）之服務過程中，將單獨對於所有利用個人使用者名稱和密碼所進行之行為，負完全之責任。 3.
            對於會員所取得的使用者名稱和密碼，會員必須負妥善保管和保密的義務，如發現或懷疑該使用者名稱和密碼為第三人所冒用或不當使用，應立即通知平台經營（管理）者，以利平台經營（管理）者儘快採取適當之因應措施，但上述因應措施不得因此解釋為平台經營（管理）者明示或默示對會員負有任何形式之賠償或補償之責任或義務，並且不得解釋為平台經營（管理）者願意與會員對第三人共同負擔責任。
            4.
            如因會員對於使用者名稱和密碼之違約或違法使用，或怠於保管致遭盜用，以致於造成任何第三人對於平台經營（管理）者主張損害或主張權利，平台經營（管理）者即得要求會員負擔一切責任，並得基於調查之必要，為一切可能涉及該會員隱私之行為，包括但不限於提供資訊與檢、警、調。<br/><br/>
            隱私與保密<br/><br/>
            1.平台經營（管理）者依法承擔保護每一位會員隱私之義務，不管是申請帳號或個人資料，除有涉及違法、侵權、或違反使用條款之虞、或經本條款約定或本人同意或因政府行為或法令規定或為求全體使用者利益外，平台經營（管理）者不予任意監視、增刪或修改。
            2.於下列諸情形中，平台經營（管理）者有將為必要之措施，查看或提供使用者的個人或相關電信資料予有權機關、或 主張其權利受侵害並提出適當證明之第三人： (1) 依法令規定、或依司法機關或其他有權機關的命令； (2)
            為執行本使用條款、或使用者違反使用條款； (3) 為保護平台系統之安全或經營者之合法權益； (4) 為保護其他使用者或其他第三人的合法權益； (5) 為維護平台系統的正常運作。 3.
            平台使用者，聲明且同意依平台經營（管理）者所定之保密聲明書，負保密義務。
            1.使用者均視為已完全同意本使用條款之所有規定，以及一切與資訊安全相關之法令規範，包但不限於與電腦、通訊、電子交換以及網路利用行為等規範。使用者均充分認知，任何未經事前授權的商業行為均屬禁止範圍。
            2.使用者應遵守相關法令規範，且對於經由使用者名稱和密碼所進行的任何行為、以及所儲存的所有資料自為負責。使用者必須同意不於本服務平台從事以下的行為：(1)
            刊載、傳輸、發送任何違反中華民國技術資料輸出等相關法令之資訊。(2) 刊載、傳輸、發送任何誹謗、詐欺、傷害、猥褻、色情、賭博或其他一切違反法令之資訊。(3)
            刊載、傳輸、發送或儲存（下載）任何侵害他人智慧財產權或其他權益的資訊。(4) 未經同意擅自摘錄或使用平台服務內任何資料庫內容之全部或一部。(5)
            刊載、傳輸、發送、儲存病毒、或其他任何足以破壞或干擾電腦系統或資料的程式或訊息。(6) 破壞或干擾平台經營（管理）者系統運作或違反一般網路禮節之行為。(7) 在未經授權下進入平台管理系統或是與系統有關之網路、或
            冒用他人帳號或刪改任何資訊 (8) 任何妨礙或干擾其他使用者使用之行為。(9)
            任何透過不正當管道竊取使用者帳號、密碼或存取權限之行為。(10)其他不符合平台服務所提供的使用目的之行為。3.平台服務網站（頁）及其連結所提供之服務內，所相關之各類文字、圖檔、圖片及其他著作或資料，其著作權或其他相關智慧財產權均仍屬於提供該文字、圖檔、圖片及其他著作或資料之各人或其他合法權利人所有，即便該等權利人依照當時所定之授權條件及範圍授權使用者使用，亦僅限於使用者個人使用，不論是否已經事前
            授權，使用者不可以將這些文字、圖檔、圖片或其他著作或資料使用於：(1) 銷售、轉讓、出租、出借、轉授權、隨書附贈或其他任何形式的商業用途。(2) 上載於其他任何網站、或以其他方式提供予其他人使用。(3)
            色情、侮辱、誹謗、非法交易、或其他不符合著作權法或其他法令規定之行為。(4) 為上述使用目的所為之修改或編輯。4.
            如果任何文字、圖檔、圖片或其他著作或資料發生權利歸屬或其他合法性爭議，平台經營（管理）者有權隨時不經通知，直接停止提供、或直接刪除、或通知使用者停止使用。<br/><br/>
            責任限制<br/><br/>
            1.平台服務之實際內容，悉依平台經營（管理）者業已提供之功能及狀態決之；對於使用者之特定要求或需求，包括但不限於速度、安全性、可靠性、完整性、正確性及不會斷線和出錯等，平台經營（管理）者不負任何形式或內容之擔保或保證責任。
            2.除另有約定外，平台經營（管理）者就所提供的平台服務，僅就重大過失負其責任且僅就直接損害負責，不及於間接損失、經濟損失與所失利益。
            3.使用者對於本平台所採用之前、後台技術標準及其風險均應自行瞭解。平台經營（管理）者並保留新增、修改或取消網站（頁）內相關系統或功能之全部或一部之權利。使用者應對傳送過程中或儲存時之檔案或資料遺失或電腦系統損壞自負完全責任
            4.使用者應充分認知，本平台服務之建置，涉及諸多整合介面與發展中科技，因此，使用者對於於技術限制（成熟度等）所致之平台服務障礙，以及其他與平台經營（管理）者無關之第三人行為或不行為所可能引起之使用不便利，均預為接受。<br/><br/>
            暫停或中斷<br/><br/>
            1. 在下列情形，平台經營（管理）者將暫停或中斷服務之全部或一部，且對使用者任何直接或間接之損害，均不負任何責任： (1)對相關軟硬體設備進行搬遷、更換、升級、保養或維修時；
            (2)使用者有任何違反政府法令或本使用條款情形； (3)天災或其他不可抗力所致之停止或中斷；
            (4)其他情事變更（如捷運系統之民營化等）或不可歸責於平台經營（管理）者之事由，包括但不限於政府行為（如化政策、法令之變更等）所致之停止或中斷。 2.
            平台管理系統或功能『例行性』之維護、改置或變動所發生之暫停或中斷，平台經營（管理）者將於該暫停或中斷前以電子郵件、公告或其他適當之方式告知使用者。 3.
            因使用者違反相關法令或本使用條款、或依相關主管機關之要求、或因其他不可歸責於平台經營（管理）者之事由，而致系統或平台經營（管理）者服務全部或一部暫停或中斷時，均不影響使用者應負之義務。<br/><br/>
            終止<br/><br/>
            1.基於平台經營（管理）者所無法掌握之情事變更（包括但不限於技術、干擾、政策、法令等因素），平台經營（管理）者有可能停止提供網站（頁）或服務之全部或一部，使用者不可以因此而要求任何賠償或補償。
            2.如使用者違反本條款，平台經營（管理）者保留隨時暫時停止提供一切平台經營（管理）者服務、或終止提供服務之權利，使用者不得要求任何賠償或補償。 3.
            如使用者之平台利用行為，包括但不限於刊載、傳輸、發送或儲存的檔案或資料，有任何違反法令、違反本使用條款、或有侵害第三人權益之虞者，平台經營（管理）者保留隨時得不經通知直接加以移動或刪除或停權之權利。若平台經營（管理）者因此受到任何損害，使用者應對平台經營（管理）者負損害賠償之責。<br/><br/>
            修改本使用條款的權力<br/><br/>
            平台經營（管理）者保留隨時修改本平台服務使用規則的權利，修改後之條款將公佈在平台經營（管理）者平台服務網站上，不另外個別通知。<br/><br/>
            準據法與管轄權<br/><br/>
            1.本約定條款解釋、補充及適用均以中華民國法令為準據法。 2.因本約定條款所發生之訴訟，以台灣台北地方法院為第一審管轄法院。
        </p>
    </div>
</div>
<div class="copyright container">
    <div class="section group">
        <div class="col span12">
            HOVERING AD Wi-Fi ALL Rights Reserved.
        </div>
    </div>
</div>
</body>
</html>
