<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="http://www.adwifi.com.tw"/>
</head>
<body>
<form name="redirect" method="post" action="{% url 'index' %}">
    <input type="text" name="index-page" value="start">
    <input type="text" name="mac" value="08:00:20:0A:8C:6F">
    <input type="text" name="link_login_only" value="../05final/final.php">
    <input type="text" name="server-name" value="adwifith">
    <input type="submit" value="送出">
</form>
</body>
</html>