<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="http://www.adwifi.com.tw"/>
</head>
<body>
123
<form name="redirect" method="post" action="00hotspotsReceiver/index.php">
    <input type="hidden" name="index-page" value="start">
    <input type="hidden" name="mac" value="08:00:20:0A:8C:6F">
    <input type="hidden" name="link-login-only" value="../05final/final.php">
    <input type="hidden" name="server-name" value="123">
</form>
<script>
    //window.redirect.submit();
</script>
</body>
</html>