<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="http://www.adwifi.com.tw"/>
</head>
<body>
<form name="redirect" method="post" action="{% url data.portalLink %}">
    {% csrf_token %}
    <input type="hidden" name="rid" value="{{ data.rid }}">
    <input type="hidden" name="mac" value="{{ data.mac }}">
    <input type="hidden" name="link_login_only" value="{{ data.link_login_only }}">
</form>
<script>
    window.redirect.submit()
</script>
</body>
</html>